<!DOCTYPE html>
<html lang="en-US" dir="ltr">


<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
    <title> {% block title %} Inscrivez-vous !{% endblock %} </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ include('__fragments/css.html.twig') }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {#<script type="module" src="https://cdn.skypack.dev/@hotwired/turbo"></script>#}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
{% block body %}
    <body>
    <main class="main" id="top">
        <div class="container-fluid px-0" data-layout="container">
            <div class="container">
                <div class="row flex-center min-vh-100 py-5">
                    <div class="col-sm-10 col-md-8 col-lg-5 col-xl-5 col-xxl-3"><a class="d-flex flex-center text-decoration-none mb-4" href="../../../index.html">
                            <div class="d-flex align-items-center fw-bolder fs-5 d-inline-block"><img src="../../../assets/img/icons/logo.png" alt="phoenix" width="58" /></div>
                        </a>
                        <div class="text-center mb-7">
                            <h3 class="text-1000">Sign In</h3>
                            <p class="text-700">Get access to your account</p>
                        </div>
                        <form method="post">
                            {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}

                            {% if app.user %}
                                <div class="mb-3">
                                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                                </div>
                            {% endif %}
                            <div class="mb-3 text-start">
                                <label class="form-label" for="inputEmail">Email address</label>
                                <div class="form-icon-container">
                                    <input class="form-control form-icon-input" type="email" value="{{ last_username }}" name="email" id="inputEmail" autocomplete="email" required autofocus />
                                    <span class="fas fa-user text-900 fs--1 form-icon"></span>
                                </div>
                            </div>
                            <div class="mb-3 text-start">
                                <label class="form-label" for="inputPassword">Password</label>
                                <div class="form-icon-container">
                                    <input class="form-control form-icon-input" type="password" name="password" id="inputPassword" autocomplete="current-password" required />
                                    <span class="fas fa-key text-900 fs--1 form-icon"></span>
                                </div>
                            </div>
                            <input type="hidden" name="_csrf_token"
                                   value="{{ csrf_token('authenticate') }}"
                            >
                            <div class="row flex-between-center mb-7">
                                <div class="col-auto">
                                    <div class="form-check mb-0">
                                        <input class="form-check-input" name="_remember_me" id="basic-checkbox" type="checkbox" checked="checked" />
                                        <label class="form-check-label mb-0" for="basic-checkbox">Remember me</label>
                                    </div>
                                </div>
                                <div class="col-auto"><a class="fs--1 fw-semi-bold" href="forgot-password.html">Forgot Password?</a></div>
                            </div>
                            <button class="btn btn-secondary w-100 mb-3"  type="submit">Se connecter</button>
                            <div class="text-center"><a class="fs--1 fw-bold" href="sign-up.html">Create an account</a></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    {{include('__fragments/script.html.twig')}}
    </body>
{% endblock %}
</html>

