
            <!-- CAROUSEL -->
            <div class="swiper-theme-container">
              <div class="swiper-container theme-slider swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events" data-swiper="{&quot;autoplay&quot;:true,&quot;spaceBetween&quot;:5,&quot;loop&quot;:true,&quot;loopedSlides&quot;:5,&quot;slideToClickedSlide&quot;:true}">
                <div class="swiper-wrapper"  style="height: 430px!important;" id="swiper-wrapper-931af5eb709b104ef" aria-live="off" style="transform: translate3d(-8767px, 0px, 0px); transition-duration: 300ms;"><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="1" role="group" aria-label="2 / 6" style="width: 100%; margin-right: 5px;"> 
                
                <img class="rounded-1 img-fluid" src="{{ asset('assets/img/generic/31.jpg')}}" alt=""></div><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="2" role="group" aria-label="3 / 6" style="width: 100%; margin-right: 5px;"> 
                <img class="rounded-1 img-fluid" src="{{ asset('assets/img/generic/32.jpg')}}" alt=""></div><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="3" role="group" aria-label="4 / 6" style="width: 100%; margin-right: 5px;">
                 
                 <img class="rounded-1 img-fluid" src="{{ asset('assets/img/generic/33.jpg')}}" alt=""></div><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="4" role="group" aria-label="5 / 6" style="width: 100%; margin-right: 5px;"> 
                 <img class="rounded-1 img-fluid" src="{{ asset('assets/img/generic/34.jpg')}}" alt=""></div><div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-prev" data-swiper-slide-index="5" role="group" aria-label="6 / 6" style="width: 100%; margin-right: 5px;"> 
                 <img class="rounded-1 img-fluid" src="{{ asset('assets/img/generic/35.jpg')}}" alt=""></div>
                  <div class="swiper-slide swiper-slide-duplicate-active" data-swiper-slide-index="0" role="group" aria-label="1 / 6" style="width: 100%; margin-right: 5px;">
                  
                  <img class="rounded-1 img-fluid" src="{{ asset('assets/img/generic/30.jpg')}}" alt=""></div>
                  <div class="swiper-slide swiper-slide-duplicate-next" data-swiper-slide-index="1" role="group" aria-label="2 / 6" style="width: 100%; margin-right: 5px;"> 
                  
                  <img class="rounded-1 img-fluid" src="{{ asset('assets/img/generic/31.jpg')}}" alt=""></div>
                  <div class="swiper-slide" data-swiper-slide-index="2" role="group" aria-label="3 / 6" style="width: 100%; margin-right: 5px;"> 
                  
                  <img class="rounded-1 img-fluid" src="{{ asset('assets/img/generic/32.jpg')}}" alt=""></div>
                  <div class="swiper-slide" data-swiper-slide-index="3" role="group" aria-label="4 / 6" style="width: 100%; margin-right: 5px;"> 
                  
                  <img class="rounded-1 img-fluid" src="{{ asset('assets/img/generic/33.jpg')}}" alt=""></div>
                  <div class="swiper-slide" data-swiper-slide-index="4" role="group" aria-label="5 / 6" style="width: 100%; margin-right: 5px;"> 
                  
                  <img class="rounded-1 img-fluid" src="{{ asset('assets/img/generic/34.jpg')}}" alt=""></div>
                  <div class="swiper-slide swiper-slide-prev" data-swiper-slide-index="5" role="group" aria-label="6 / 6" style="width: 100%; margin-right: 5px;"> 
                  <img class="rounded-1 img-fluid" src="{{ asset('assets/img/generic/35.jpg')}}" alt=""></div>
                <div class="swiper-slide swiper-slide-duplicate swiper-slide-active" data-swiper-slide-index="0" role="group" aria-label="1 / 6" style="width: 100%; margin-right: 5px;">
                
                <img class="rounded-1 img-fluid" src="{{ asset('assets/img/generic/30.jpg')}}" alt=""></div><div class="swiper-slide swiper-slide-duplicate swiper-slide-next" data-swiper-slide-index="1" role="group" aria-label="2 / 6" style="width: 100%; margin-right: 5px;"> 
                
                <img class="rounded-1 img-fluid" src="{{ asset('assets/img/generic/31.jpg')}}" alt=""></div><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="2" role="group" aria-label="3 / 6" style="width: 100%; margin-right: 5px;"> 
                <img class="rounded-1 img-fluid" src="{{ asset('assets/img/generic/32.jpg')}}" alt=""></div><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="3" role="group" aria-label="4 / 6" style="width: 100%; margin-right: 5px;"> 
                <img class="rounded-1 img-fluid" src="{{ asset('assets/img/generic/33.jpg')}}" alt=""></div><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="4" role="group" aria-label="5 / 6" style="width: 100%; margin-right: 5px;"> 
                <img class="rounded-1 img-fluid" src="{{ asset('assets/img/generic/34.jpg')}}" alt=""></div></div>
              <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
              <div class="swiper-nav">
                <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-931af5eb709b104ef"><svg class="svg-inline--fa fa-chevron-right nav-icon" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M96 480c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L242.8 256L73.38 86.63c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l192 192c12.5 12.5 12.5 32.75 0 45.25l-192 192C112.4 476.9 104.2 480 96 480z"></path></svg><!-- <span class="fas fa-chevron-right nav-icon"></span> Font Awesome fontawesome.com --></div>
                <div class="swiper-button-prev" tabindex="0" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-931af5eb709b104ef"><svg class="svg-inline--fa fa-chevron-left nav-icon" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M224 480c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25l192-192c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25L77.25 256l169.4 169.4c12.5 12.5 12.5 32.75 0 45.25C240.4 476.9 232.2 480 224 480z"></path></svg><!-- <span class="fas fa-chevron-left nav-icon"></span> Font Awesome fontawesome.com --></div>
              </div>
            </div>